.primary-button {
  border-radius: 25px;
  background-color: var(--light-blue);
  font-family: var(--subtitle-font);
  font-weight: 900;
  border: 0;
  padding: 7px 21px;
  color: var(--dark-blue);
  font-size: 18px;
}
