.hp-roadmap {
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding: 0 4%;
  border-radius: var(--content-radius);
  margin-bottom: 5% !important;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .hp-rm-content {
    font-family: Days One;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    .roadmap-container{
        .phase-container{
          align-items: center;
          justify-content: center;
          padding: 20px 0;
          font-family: Days One;
          display: flex;
          .phase{
            border: 3px solid gold;
            border-radius: 10px;
            width: 80%;
            box-shadow: 0 0 10px;
            p{
              font-family: Days One;
              font-weight: lighter !important;
              font-size: 18px;
              display: flex;
            }
            .phase-title{
              font-weight: 400;
              font-family: Days One;
              font-size: 25px;
            }
            .phase-content{
              font-size: 18px;
              font-family: Days One;
              p{
                  margin: 0;
                  display: flex;
                  margin-bottom: 10px;
                  font-size: 18px;
                }
                span{
                  margin-right: 10px;
                  img{
                    display: block;
                    width: 20px;
                    height: 20px;
                  }
                }
          //       div{
          //         width: 50px;
          //         background: linear-gradient(90deg, #862c04, #dbaa32);
          //         border-top-right-radius: 10px;
          //         border-bottom-right-radius: 10px;
          //         font-weight: 400;
          //         padding: 3px;
    
          //       }
          }
          .special{
            display: flex;
            p{
              display: flex;
            }
          }
          p{
            span{
              margin-right: 10px;
            }
          }
        }
        img{
          width: 20px;
          height: 20px;
          // margin-top: 40px;
        }
      }
      .phase-container:nth-child(odd){
        .phase{
          // padding-right: 70px;
          // margin-right: 40px;
          padding: 10px 30px;
        }
      }
      .phase-container:nth-child(even){
        .phase{
          // padding-left: 70px;
          // margin-left: 40px;
          padding: 10px 30px;
        }
      }
    }
    // .roadmap-container{
    //   display: flex;
    //   gap: 20px;
    //   .road-left{
    //     width: 50%;
    //     border-radius: 8px;
    //     padding: 0 20px;
    //     .phase{
    //       padding: 20px 0;
    //       min-height: 200px;
    //       .phase-title{
    //         font-size: 24px;
    //         font-weight: 600;

    //       }
    //       .phase-content{
    //         p{
    //           margin: 0;
    //           margin-bottom: 10px;
    //           font-size: 18px;
    //         }
    //         div{
    //           width: 50px;
    //           background: linear-gradient(90deg, #862c04, #dbaa32);
    //           border-top-right-radius: 10px;
    //           border-bottom-right-radius: 10px;
    //           font-weight: 400;
    //           padding: 3px;

    //         }
    //       }
    //     }
    //   }
    //   .road-right{
    //     width: 50%;
    //     border-radius: 8px;
    //     padding: 0 20px;
    //     .phase{
    //       padding: 20px 0;
    //       min-height: 200px;
    //       .phase-title{
    //         font-size: 24px;
    //         font-weight: 600;
    //       }
    //       .phase-content{
            
            
    //         p{
    //           margin: 0;
    //           font-size: 18px;
    //         }
    //       }
    //     }
    //   }
    //   .phase-icons{
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-around;
    //     img{
    //       width: 100px;
    //       height: 150px;
    //     }
    //   }
    // }



    .roadmap-items{
      width: 42%;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      .meb-icon{
        width: 70px;
        padding: 20px 6px 20px 6px;
        background-color: black;
        height: 70px;
        border-radius: 100%;
        border: 3px solid white;
        p{
          font-family: Days One;
          width: 100%;
          margin: 0;
          font-size: 20px !important;
        }
      }
      .r-desc{
        padding-left: 50px;
        .r-header{
          font-weight: 700;
          font-size: 35px;
          margin-top: 0;
          margin-bottom: 0px;
        }
      }
    }
    .pawrap2{
      span{
        left: 40% !important;
      }
      .pawbox1{
        margin: auto 0 auto auto;
      }
    }
    .pawrap2{
     
    }
    // .right::before{
    //   content: "";
    //   position: absolute;
    //   width: 0;
    //   height: 0;
    //   border-top: 10px solid transparent;
    //   border-left: 15px solid #fff;
    //   border-bottom: 10px solid transparent;
    //   top: 20px;
    //   right: -15px;
    //   margin: auto;
    // }
    p {
      text-align: left;
    }
    .road-map{
      font-size: 55px;
      font-weight: 800;
      text-align: center;
      font-family: Days One !important;
      margin-top: 0;
    }
    .pawrap{
      position: relative;
      padding-bottom: 20px;
      span{
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        position: absolute;
        right: 0;
        left: 54%;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        text-align: left;
      }
      .pawbox{
        // background-color: #fff;
        padding: 1.5em;
        border-radius: 5px;
        min-height: 100px;
        .r-header{
          font-size: 35px;
          font-weight: 600;
        }
        p{
          font-size: 20px;
          color: #fff;
        }
      }
      .pawbox1{
        position: relative;
        width: 44%;
      }
      
      .pawicon{
        height: 80px;
        width: 80px;
        border: 3px solid #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 140px;
        bottom: 0;
        background: #000;
        margin: 0 auto auto;
        position: absolute;
        left: 0;
        right: 0;
        p{
          font-size: 25px;
          font-weight: 600;
        }
      }
    }
    .pawrap::before{
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      height: 90%;
      width: 4px;
      background-color: #fff;
      top: 193px;
      margin: auto;
    }
    .last-pawrap::before{
      display: none;
    }
  }
  > svg {
    height: 100%;
    width: auto;
    position: absolute;
    right: -6%;
    top: -6%;
  }
}

#roadmap {
  text-align: left;
}
#roadmap h1,
#about h1,
#traits h1 {
  margin-top: 0;
}

@media (max-width: 600px) {
  .hp-roadmap {
    margin-top: 0;
    .hp-rm-content {
      width: 90%;
    }
    > svg {
      height: 25%;
      width: auto;
      position: absolute;
      bottom: 0;
      top: 0;
      transform: translate(25%, -22%) rotate(-10deg);
    }
  }
  .hp-roadmap #banana {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 768) {
  #roadmap h1 {
    font-size: 80px;
  }

  #roadmap p {
    font-weight: 100;
    font-size: 35px;
  }

  #banana {
    display: none;
  }
  .hp-roadmap > svg {
    display: none;
  }
}

@media (max-width: 992px) {
  .pawbox1{
    width: 100% !important;
  }
  .pawbox1::before{
    display: none !important;
  }
  .pawbox1::after{
    display: none !important;
  }
  .pawicon{
    display: none !important;
  }
  #roadmap {
    padding: 20px 15px;
  }
  #roadmap h1 {
    font-size: 40px;
  }
  #roadmap p {
  }
  .hp-rm-content {
    width: 100% !important;
    padding: 0 10px;
    .pawrap::before{
      display: none !important;
    }
    .road-map{
      font-size: 35px !important;
    }
    .roadmap-items{
      width: 100% !important;
      .r-desc{
        padding-left: 30px !important;
      }
    }
    .roadmap-container{
      display: block !important;
      .road-left{
        width: 100% !important;
        border: 3px solid #28a9ff;
        border-radius: 8px;
        padding: 0 20px;
        .phase{
          padding: 0 !important;
          min-height: 0px !important;
          .phase-title{
            font-size: 20px !important;
            font-weight: 600;
          }
          .phase-content{
            font-size: 16px !important;
          }
        }
      }
      .road-right{
        width: 100% !important;
        margin-top: 20px;
        border: 3px solid #28a9ff;
        border-radius: 8px;
        padding: 0 20px;
        .phase{
          padding: 0 !important;
          min-height: 0 !important;
          .phase-title{
            font-size: 20px !important;
            font-weight: 600;
          }
          .phase-content{
            font-size: 16px !important;
          }
        }
      }
      .phase-icons{
        display: none !important;
      }
    }
  }

  .hp-roadmap #banana {
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .hp-roadmap {
    > svg {
      height: 80%;
      right: -10%;
    }
    .hp-rm-content {
      width: 80%;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  :root {
    --content-radius: 75px;
  }
}

@media (min-width: 1400px) and (max-width: 2500px) {
  .hp-roadmap {
    .hp-rm-content {
      width: 100%;
      h1 {
        font-size: 60px;
        text-align: left;
      }
    }
    > svg {
      max-width: 600px !important;
      height: 90%;
      width: auto;
      position: absolute;
      right: -8%;
      top: -6%;
    }
  }
}

@media (min-width: 2500px) {
  .hp-roadmap {
    padding: 5% 6%;
    .hp-rm-content {
      width: 80%;
      h1 {
        font-size: 130px;
      }
    }
    > svg {
      height: 65%;
      width: auto;
      position: absolute;
      right: -14%;
      top: -6%;
    }
  }
}
