footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 150px;
  padding: 60px 7%;
  font-family: "Poppins",sans-serif !important;
  width: 100%;
  // background-color: var(--dark-blue);
  background-color: #080514;

  .foot-ape-logo {
    text-align: center;
    color: white; 
    font-family: var(--content-font), sans-serif;

    flex-direction: column;
    align-items: center;
    .brand{
      font-size: 30px;
      margin: 0;
      font-weight: 700;
      font-family: Days One;
      color: white;
    }
    .copyright{
      font-weight: 600;
    }
    .copyright{
      margin-bottom: 0;
    }
  }

  .foot-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    .social-links{
      img{
        width: 30px;
      }
    }
  }
}

@media (max-width: 350px) {
  footer {
    height: 150px !important;
    padding: 0 0 0 0 !important;
    min-height: 200px !important;
  }
  .foot-ape-logo svg {
    width: 100px !important;
  }
}

@media (max-width: 992px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 10% 30px;
    flex-direction: column;
    gap: 50px;
    .brand{
      font-size: 25px !important;
    }
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  :root {
    --content-radius: 75px;
  }
}

@media (min-width: 1400px) and (max-width: 2500px) {
  :root {
    --content-radius: 75px;
  }
}

@media (min-width: 2500px) {
  footer {
    .foot-ape-logo {
      svg {
        width: 300px;
      }
      font-size: 32px;
    }

    .foot-links {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg {
        width: 50px;
        height: auto;
      }
    }
  }
}
