.a-carrousel {
  position: relative;
  width: 90%;
  margin: 0 auto;
  .swiper-button-prev,
  .swiper-button-next {
    color: white;
  }

  .parent-a-carrousel{
    width: 255px !important;
    padding: 15px;
  }
  .a-carrousel-img {
    img {
      width: 100%;
      height: 100%;
      border: 7px solid #fbdb33;
    }
  }
}

@media (max-width: 992px) {
  .a-carrousel {
    margin-top: 20%;
    margin-bottom: 0;
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
    .swiper-slide img {
      max-height: 100%;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
}

@media (min-width: 1400px) and (max-width: 2500px) {
}

@media (min-width: 2500px) {
  .a-carrousel {
    .swiper-slide img {
      max-height: 100%;
      border-radius: 150px;
    }
  }
}
